body {
    background-color: black;
}

h1 {
    color: yellow;
    font-family: 'Chango'
}

#results {
    color: yellow;
}

.jumbotron {
    background-color: black;
}

.search-bar > input {
    background-color: black;
    color: yellow;
}

.card {
    background-color: yellow;
}